<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intelligence - Corporate Category Bootstrap Responsive Website Template - Home</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>

<!-- top header -->
<section class="w3l-top-header">
{#    <div class="container">#}
{#        <div class="top-content-w3ls d-flex align-items-center justify-content-between">#}
{#            <div class="top-headers">#}
{#                <ul>#}
{#                    <li>#}
{#                        <i class="fa fa-map-marker-alt"></i><a href="#address">London, 235 Terry, 10001</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i class="fa fa-phone"></i><a href="tel:+1(21) 234 4567">+1(21) 234 4567</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i class="fa fa-envelope"></i><a href="mailto:mail@example.com">mail@example.com</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="top-headers top-headers-2">#}
{#                <ul>#}
{#                    <li>#}
{#                        <a href="#facebook"><span class="fab fa-facebook-f"></span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#twitter"><span class="fab fa-twitter"></span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#instagram"><span class="fab fa-instagram"></span></a>#}
{#                </li>#}
{#                <li class=" mr-0">#}
{#                        <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</section>
<!-- //top header -->

<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
{#                    <span class="fa fa-lightbulb"></span> Intelligence#}
                </a>
            </h1>
            <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">信息概览 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="wordcloud.html">热门词云</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="timeline.html">时间趋势</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            主题分布<span class="fas fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="topic.html">主题分布</a>
                            <a class="dropdown-item" href="hottopic.html">主题与热度</a>
                            <a class="dropdown-item" href="network.html">共现网络</a>
                        </div>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                            情感分布<span class="fas fa-angle-down"></span>#}
{#                        </a>#}
{#                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                            <a class="dropdown-item" href="emotion.html">情感分布</a>#}
{#                            <a class="dropdown-item" href="hotemotion.html">情感与热度</a>#}
{#                        </div>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="toplist.html">热门信息</a>
                    </li>

                    <!--/search-right-->
                    <ul class="header-search">
                        <li class="nav-item search-right">
                            <a href="#search" class="btn search-btn btn-light" title="search"><span class="fas fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h3 class="title-w3l two mb-4 text-left">Search Here</h3>
                                    <form action="#" method="GET" class="search-box d-sm-flex position-relative">
                                        <input type="search" placeholder="Enter Keyword here" name="search" required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary"> Search</button>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </li>
                    </ul>
                    <!--//search-right-->
                </ul>
            </div>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->


<!-- Services banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="banner-info-grid px-md-5">
                <h2 class="w3l-title-breadcrumb mb-3">热门信息</h2>
                <p class="inner-page-para px-lg-5">  彩礼问题引发热议</p>
            </div>
        </div>
    </div>
</section>
<!-- //Services banner -->
<!-- Why Choose Us Section-->
<section class="w3l-whychooseus py-5" >
 <table class="table table-responsive-md" >
     <thead>
    <tr style="text-align: center;">
      <th>排序</th>
      <th>博文内容</th>
      <th>发布账号</th>
      <th>发布时间</th>
      <th>评论数</th>
      <th>点赞数</th>
    </tr>
  </thead>
     <tbody>
    <tr>
      <td>1</td>
      <td>#男生被要28万8彩礼写信给县长求整治# 我们这里的彝族有个传统，出嫁是女儿按长相、学历等因素收彩礼，高的能到几十万...</td>
      <td>民**</td>
      <td>2023-07-04</td>
      <td>128</td>
      <td>573</td>
    </tr>
    <tr>
      <td>2</td>
      <td>【震撼！#云南哈尼梯田超美星轨大片#】#美好云南#入夜，位于云南省红河哈尼族彝族自治州元阳县的哈尼梯田核心区星河璀璨...</td>
      <td>传**</td>
      <td>2023-06-01</td>
      <td>48</td>
      <td>353</td>
    </tr>
    <tr>
      <td>3</td>
      <td>【#谢谢你刘素琴#！#护士第一次坐飞机救人一命#】5月19日，从成都飞往呼和浩特途中，一男性旅客身体不适，体温偏低，已失去意识...</td>
      <td>喵**</td>
      <td>2023-05-22</td>
      <td>114</td>
      <td>138</td>
    </tr>
    <tr>
      <td>4</td>
      <td>【#彝族女子被拐28年跨4000里回家团圆#】据@都市报道 ，在云南红河，被拐28年的彝族女孩钱义辉回乡认亲...</td>
      <td>楚**</td>
      <td>2023-05-03</td>
      <td>17</td>
      <td>104</td>
    </tr>
    <tr>
      <td>5</td>
      <td>【#清凉雅韵云南开远夏荷有约#】近日，云南省红河哈尼族彝族自治州开远市南洞河湿地、凤凰湿地等多处荷花渐次开放，荷香诱人...</td>
      <td>泸**</td>
      <td>2023-05-01</td>
      <td>22</td>
      <td>62</td>
    </tr>
    <tr>
      <td>6</td>
      <td>【云讲解·彝族月琴】#文博公开课# 彝族是中国最古老的民族之一，有着悠久的历史和灿烂的文明。彝族人能歌善舞，素有打歌的习俗...</td>
      <td>云**</td>
      <td>2023-04-26</td>
      <td>42</td>
      <td>58</td>
    </tr>
    <tr>
      <td>7</td>
      <td>#铁路一日一站#【南华站】位于云南省楚雄彝族自治州南华县龙川镇平山村，在楚大铁路上行距离云南驿站约62公里，下行距离楚雄站约32公里...</td>
      <td>石**</td>
      <td>2023-04-03</td>
      <td>49</td>
      <td>61</td>
    </tr>
    <tr>
      <td>8</td>
      <td>【#第八届凉山火把节7月20日开启# #凉山火把节狂欢夜8月10日点燃#】7月20日至8月30日，以“清凉夏日燃情火把·领略彝风玩转凉山”为主题的...</td>
      <td>澎**</td>
      <td>2023-03-06</td>
      <td>22</td>
      <td>71</td>
    </tr>
    <tr>
      <td>9</td>
      <td>#有一种叫云南的生活#【遇见楚雄，寻味元谋】云南省楚雄彝族自治州元谋县被誉为...</td>
      <td>云**</td>
      <td>2023-02-28</td>
      <td>4</td>
      <td>48</td>
    </tr>
    <tr>
      <td>10</td>
      <td>#有一种叫云南的生活#【慢时光里的地轨缆车】云南省红河哈尼族彝族自治州个旧市城区有一条长度仅为247米的半山地轨缆车...</td>
      <td>云**</td>
      <td>2023-02-03</td>
      <td>14</td>
      <td>23</td>
    </tr>
  </tbody>
     </table>

</section>

<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
{#            <div class="row footer-top-29">#}
{#                <div class="col-lg-4 col-md-6 footer-list-29">#}
{#                    <h6 class="footer-title-29">Contact Info </h6>#}
{#                    <p class="mb-2 pe-xl-5">Address : Intelligence, 10001, 5th Avenue, #06 lane street, NY - 62617.#}
{#                    </p>#}
{#                    <p class="mb-2">Phone Number : <a href="tel:+1(21) 234 4567">+1(21) 234 4567</a></p>#}
{#                    <p class="mb-2">Email : <a href="mailto:info@example.com">info@example.com</a></p>#}
{#                    <p class="mb-2">Support : <a href="mailto:support@example.com">support@example.com</a></p>#}
{#                </div>#}
{#                <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">#}
{#                    <ul>#}
{#                        <h6 class="footer-title-29">Quick Links</h6>#}
{#                        <li><a href="about.html">About Company</a></li>#}
{#                        <li><a href="#blog">Blog Posts</a></li>#}
{#                        <li><a href="services.html">Our Services</a></li>#}
{#                        <li><a href="contact.html">Contact Us</a></li>#}
{#                        <li><a href="#shortcodes">Shortcodes</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-2 col-md-3 col-6 ps-lg-5 ps-lg-4 footer-list-29 mt-md-0 mt-4">#}
{#                    <ul>#}
{#                        <h6 class="footer-title-29">Explore</h6>#}
{#                        <li><a href="#blog">Blog Posts</a></li>#}
{#                        <li><a href="#privacy">Privacy policy</a></li>#}
{#                        <li><a href="contact.html">Contact Us</a></li>#}
{#                        <li><a href="#license">License & uses</a></li>#}
{#                        <li><a href="#blog">View Articles</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-4 col-md-6 footer-list-29 mt-lg-0 mt-4 ps-lg-5">#}
{#                    <h6 class="footer-title-29">Subscribe</h6>#}
{#                    <form action="#" class="subscribe d-flex" method="post">#}
{#                        <input type="email" name="email" placeholder="Email Address" required="">#}
{#                        <button class="button-style"><span class="fa fa-paper-plane"#}
{#                                aria-hidden="true"></span></button>#}
{#                    </form>#}
{#                    <p class="mt-4">Subscribe to our mailing list and get updates to your email inbox.</p>#}
{#                </div>#}
{#            </div>#}
            <!-- copyright -->
            <p class="copy-footer-29 text-center mt-5 pb-2">© 2023 AnnieeX. All rights reserved. </p>
            <!-- //copyright -->
        </div>
    </div>
</footer>
<!-- //footer block -->




<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="static/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!--/stats-number-counter-->
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();

</script>
<!--//stats-number-counter-->

<!--/owlcarousel-->
<script src="static/js/owl.carousel.js"></script>
<!-- //tesimonials-->
<script>
    $(document).ready(function() {
        $("#owl-demo1").owlCarousel({
            loop: true,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                }
            }
        })
    })

</script>
<!-- //tesimonials-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script src="static/js/bootstrap.min.js"></script>
<!-- //bootstrap-->
<!-- //Js scripts -->

</body>

</html>