<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intelligence - Corporate Category Bootstrap Responsive Website Template - Home</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>

<!-- top header -->
<section class="w3l-top-header">
{#    <div class="container">#}
{#        <div class="top-content-w3ls d-flex align-items-center justify-content-between">#}
{#            <div class="top-headers">#}
{#                <ul>#}
{#                    <li>#}
{#                        <i class="fa fa-map-marker-alt"></i><a href="#address">London, 235 Terry, 10001</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i class="fa fa-phone"></i><a href="tel:+1(21) 234 4567">+1(21) 234 4567</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i class="fa fa-envelope"></i><a href="mailto:mail@example.com">mail@example.com</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="top-headers top-headers-2">#}
{#                <ul>#}
{#                    <li>#}
{#                        <a href="#facebook"><span class="fab fa-facebook-f"></span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#twitter"><span class="fab fa-twitter"></span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#instagram"><span class="fab fa-instagram"></span></a>#}
{#                </li>#}
{#                <li class=" mr-0">#}
{#                        <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</section>
<!-- //top header -->

<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
{#                    <span class="fa fa-lightbulb"></span> Intelligence#}
                </a>
            </h1>
            <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">信息概览 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="wordcloud.html">热门词云</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="timeline.html">时间趋势</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            主题分布<span class="fas fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="topic.html">主题分布</a>
                            <a class="dropdown-item" href="hottopic.html">主题与热度</a>
                            <a class="dropdown-item" href="network.html">共现网络</a>
                        </div>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                            情感分布<span class="fas fa-angle-down"></span>#}
{#                        </a>#}
{#                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                            <a class="dropdown-item" href="emotion.html">情感分布</a>#}
{#                            <a class="dropdown-item" href="hotemotion.html">情感与热度</a>#}
{#                        </div>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="toplist.html">热门信息</a>
                    </li>

                    <!--/search-right-->
                    <ul class="header-search">
                        <li class="nav-item search-right">
                            <a href="#search" class="btn search-btn btn-light" title="search"><span class="fas fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h3 class="title-w3l two mb-4 text-left">Search Here</h3>
                                    <form action="#" method="GET" class="search-box d-sm-flex position-relative">
                                        <input type="search" placeholder="Enter Keyword here" name="search" required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary"> Search</button>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </li>
                    </ul>
                    <!--//search-right-->
                </ul>
            </div>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->


<!-- Services banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="banner-info-grid px-md-5">
                <h2 class="w3l-title-breadcrumb mb-3">热门信息</h2>
                <p class="inner-page-para px-lg-5">  哭嫁议题引发热议</p>
            </div>
        </div>
    </div>
</section>
<!-- //Services banner -->
<!-- Why Choose Us Section-->
<section class="w3l-whychooseus py-5" >
 <table class="table table-responsive-md" >
     <thead>
    <tr style="text-align: center;">
      <th>排序</th>
      <th>博文内容</th>
      <th>发布账号</th>
      <th>发布时间</th>
      <th>评论数</th>
      <th>点赞数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>【#土家族姑娘出嫁前要背4本哭嫁词# 妈妈还给她做了个哭脸帕】据@星视频 报道：近日，贵州铜...</td>
      <td>头**</td>
      <td>2023-02-19</td>
      <td>3783</td>
      <td>47300</td>
    </tr>
    <tr>
      <td>2</td>
      <td>鱼木寨， 为土家族山寨，位于湖北省与重庆市交界处，是国内保存最为完好的土家山寨，景区内城堡寨...</td>
      <td>一**</td>
      <td>2023-02-24</td>
      <td>2</td>
      <td>2578</td>
    </tr>
    <tr>
      <td>3</td>
      <td>贵州的黔东南州威武，要给26000多名少数民族公务员（人民警察）考生笔试成绩加5分。度娘上说...</td>
      <td>喵**</td>
      <td>2023-03-06</td>
      <td>123</td>
      <td>1175</td>
    </tr>
    <tr>
      <td>4</td>
      <td>【#小伙14年为村民义务带货超10万件# 8旬村民冒雨感谢】 湖北宜昌的邓兰舟是一名乡村客运...</td>
      <td>央**</td>
      <td>2023-02-21</td>
      <td>17</td>
      <td>104</td>
    </tr>
    <tr>
      <td>5</td>
      <td>【展览预告】“金色大明——明代金饰文物特展”即将上线2023年3月3日，泸州市博物馆年度大展...</td>
      <td>泸**</td>
      <td>2023-03-01</td>
      <td>22</td>
      <td>62</td>
    </tr>
    <tr>
      <td>6</td>
      <td>中国旅游印象印象湖南·芙蓉镇湖南湘西芙蓉镇，挂在瀑布上的千年古镇，本名王村，拥有两千多年历...</td>
      <td>云**</td>
      <td>2023-02-26</td>
      <td>42</td>
      <td>58</td>
    </tr>
    <tr>
      <td>7</td>
      <td>“石老师的嘛，随便吃！”老板这一吼，排队的人看得我有点尴尬，这让我想起了随便屙的李老师。我也...</td>
      <td>石**</td>
      <td>2023-03-03</td>
      <td>49</td>
      <td>61</td>
    </tr>
    <tr>
      <td>8</td>
      <td>【融媒轻骑兵Vlog丨#代表建议中小学生午休趴睡变躺睡#】3月5日，第十四届全国人大一次会议...</td>
      <td>澎**</td>
      <td>2023-03-06</td>
      <td>22</td>
      <td>71</td>
    </tr>
    <tr>
      <td>9</td>
      <td>【#四川这个苦村变甜村#】达州市宣汉县龙泉土家族乡黄连村曾经是远近闻名的“苦村”，“交通靠走...</td>
      <td>四**</td>
      <td>2023-02-28</td>
      <td>4</td>
      <td>48</td>
    </tr>
    <tr>
      <td>10</td>
      <td>恩施的土司城还是值得逛逛，建筑很有特色，花20元就可以变身少数民族姑娘。变了样子就想不停拍照...</td>
      <td>宠**</td>
      <td>2023-03-06</td>
      <td>14</td>
      <td>23</td>
    </tr>
  </tbody>
     </table>

</section>

<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
{#            <div class="row footer-top-29">#}
{#                <div class="col-lg-4 col-md-6 footer-list-29">#}
{#                    <h6 class="footer-title-29">Contact Info </h6>#}
{#                    <p class="mb-2 pe-xl-5">Address : Intelligence, 10001, 5th Avenue, #06 lane street, NY - 62617.#}
{#                    </p>#}
{#                    <p class="mb-2">Phone Number : <a href="tel:+1(21) 234 4567">+1(21) 234 4567</a></p>#}
{#                    <p class="mb-2">Email : <a href="mailto:info@example.com">info@example.com</a></p>#}
{#                    <p class="mb-2">Support : <a href="mailto:support@example.com">support@example.com</a></p>#}
{#                </div>#}
{#                <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">#}
{#                    <ul>#}
{#                        <h6 class="footer-title-29">Quick Links</h6>#}
{#                        <li><a href="about.html">About Company</a></li>#}
{#                        <li><a href="#blog">Blog Posts</a></li>#}
{#                        <li><a href="services.html">Our Services</a></li>#}
{#                        <li><a href="contact.html">Contact Us</a></li>#}
{#                        <li><a href="#shortcodes">Shortcodes</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-2 col-md-3 col-6 ps-lg-5 ps-lg-4 footer-list-29 mt-md-0 mt-4">#}
{#                    <ul>#}
{#                        <h6 class="footer-title-29">Explore</h6>#}
{#                        <li><a href="#blog">Blog Posts</a></li>#}
{#                        <li><a href="#privacy">Privacy policy</a></li>#}
{#                        <li><a href="contact.html">Contact Us</a></li>#}
{#                        <li><a href="#license">License & uses</a></li>#}
{#                        <li><a href="#blog">View Articles</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-4 col-md-6 footer-list-29 mt-lg-0 mt-4 ps-lg-5">#}
{#                    <h6 class="footer-title-29">Subscribe</h6>#}
{#                    <form action="#" class="subscribe d-flex" method="post">#}
{#                        <input type="email" name="email" placeholder="Email Address" required="">#}
{#                        <button class="button-style"><span class="fa fa-paper-plane"#}
{#                                aria-hidden="true"></span></button>#}
{#                    </form>#}
{#                    <p class="mt-4">Subscribe to our mailing list and get updates to your email inbox.</p>#}
{#                </div>#}
{#            </div>#}
            <!-- copyright -->
            <p class="copy-footer-29 text-center mt-5 pb-2">© 2023 AnnieeX. All rights reserved. </p>
            <!-- //copyright -->
        </div>
    </div>
</footer>
<!-- //footer block -->




<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="static/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!--/stats-number-counter-->
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();

</script>
<!--//stats-number-counter-->

<!--/owlcarousel-->
<script src="static/js/owl.carousel.js"></script>
<!-- //tesimonials-->
<script>
    $(document).ready(function() {
        $("#owl-demo1").owlCarousel({
            loop: true,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                }
            }
        })
    })

</script>
<!-- //tesimonials-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script src="static/js/bootstrap.min.js"></script>
<!-- //bootstrap-->
<!-- //Js scripts -->

</body>

</html>